*,
*:before,
*:after {
  box-sizing: border-box;
  direction: rtl;
}

body {
  font-size: 1rem;
  font-weight: 400 bold;
  line-height: 2;
  color: black;
  margin: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      115deg,
      rgba(255, 0, 0, 0.344),
      rgba(0, 0, 255, 0.367)
    ),
    url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.5;
}
p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

button{
    border: none;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    max-width: 540px;
    min-width: 768px;
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    color: black;
}