*,
*:before,
*:after {
  box-sizing: border-box;
  direction: rtl;
}

body {
  font-size: 1rem;
  font-weight: 400 bold;
  line-height: 2;
  color: black;
  margin: 0;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg,rgba(255, 0, 0, 0.344),rgba(0, 0, 255, 0.367)),url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}